name: Verify Project

#######
# Verify creating a project for a target framework on a particular OS.
#######

on:
  workflow_call:
    inputs:
      python-version:
        description: "Python version to use; defaults to latest Python release."
        default: "3.X"
        type: string
      runner-os:
        description: "The OS to use to build the App; must be a fully qualified GitHub runner OS, e.g. ubuntu-latest."
        required: true
        type: string
      framework:
        description: "Framework to use to build the App, e.g. toga."
        required: true
        type: string
      workflow-repo:
        # Only needed for PRs in other repos wanting to test new workflow changes before they are merged.
        # These inputs should not be specified by another repo on their main branch.
        description: "The repo to use to run additional workflows and actions."
        default: "beeware/.github"
        type: string
      workflow-repo-ref:
        description: "The repo ref to use to run additional workflows and actions."
        default: ""
        type: string

defaults:
  run:
    shell: bash

env:
  FORCE_COLOR: "1"

jobs:
  verify-project:
    name: Verify Project
    runs-on: ${{ inputs.runner-os }}
    timeout-minutes: 30
    steps:

    - name: Checkout ${{ github.repository }}
      uses: actions/checkout@v4.1.5
      with:
        repository: ${{ github.repository }}
        fetch-depth: 0

    - name: Checkout ${{ inputs.workflow-repo }}${{ inputs.workflow-repo-ref && format('@{0}', inputs.workflow-repo-ref) || '' }}
      uses: actions/checkout@v4.1.5
      with:
        repository: ${{ inputs.workflow-repo }}
        ref: ${{ inputs.workflow-repo-ref }}
        path: beeware-.github

    - name: Checkout beeware/briefcase-template
      uses: actions/checkout@v4.1.5
      with:
        repository: beeware/briefcase-template
        path: briefcase-template

    - name: Set up Python
      uses: actions/setup-python@v5.1.0
      with:
        python-version: ${{ inputs.python-version }}
        cache: pip
        cache-dependency-path: |
          **/setup.cfg
          **/pyproject.toml
          .pre-commit-config.yaml

    - name: Install Dependencies
      # must install before Briefcase below since requirements.txt contains an entry for Briefcase
      run: python -m pip install -Ur ./briefcase-template/requirements.txt

    - name: Get Briefcase Package
      # Briefcase will build and package itself in a previous step in its CI
      if: endsWith(github.repository, 'briefcase')
      uses: actions/download-artifact@v4.1.7
      with:
        name: packages-briefcase
        path: dist

    - name: Install Briefcase Artefact
      if: endsWith(github.repository, 'briefcase')
      run: python -m pip install -U dist/briefcase-*.whl --upgrade-strategy eager

    - name: Install Briefcase
      if: ${{ !endsWith(github.repository, 'briefcase') }}
      uses: ./beeware-.github/.github/actions/install-briefcase

    - name: Create Briefcase Project
      id: create
      uses: ./beeware-.github/.github/actions/app-create
      with:
        framework: ${{ inputs.framework }}
        # use the current repo checkout if briefcase-template is being tested
        briefcase-template-source: ${{ endsWith(github.repository, 'briefcase-template') && github.workspace || '' }}

    - name: Run Flake8
      working-directory: ${{ steps.create.outputs.project-path }}
      run: flake8 --isolated --select=E --max-line-length 119

    - name: Run Black
      working-directory: ${{ steps.create.outputs.project-path }}
      run: black --check --diff --color src/

    - name: Validate pyproject.toml
      working-directory: ${{ steps.create.outputs.project-path }}
      shell: python
      run: |
        import toml
        from pathlib import Path
        from pprint import pprint

        pyproject_toml = Path().cwd() / "pyproject.toml"
        assert pyproject_toml.is_file()
        pprint(toml.load(pyproject_toml))

    - name: Upload Failure Logs
      uses: actions/upload-artifact@v4.3.3
      if: failure()
      with:
        name: build-failure-logs-${{ inputs.runner-os }}-${{ inputs.framework }}-${{ inputs.python-version }}
        path: ${{ steps.create.outputs.project-path }}/logs/*
