name: Update Code of Conduct

on:
  push:
    branches: ['main']
    paths: ['CODE_OF_CONDUCT.md']
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  plan-coc-update:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      repo_list: ${{ steps.repo_list.outputs.repo_list }}
      commit_hash: ${{ steps.commit_hash.outputs.commit_hash }}
    steps:
    - name: Checkout this repository
      uses: actions/checkout@v6
    - name: Get latest commit hash
      id: commit_hash
      run: |
        commit_hash=$(git rev-parse --short=16 HEAD)
        echo "commit_hash=$commit_hash" >> $GITHUB_OUTPUT
    - name: Get list of repositories
      id: repo_list
      env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        repo_list=$(gh repo list $GITHUB_REPOSITORY_OWNER --no-archived --json nameWithOwner --jq ".[].nameWithOwner" -L 500)
        jq_repo_list=$(jq -c -n '$ARGS.positional' --args ${repo_list[@]})
        echo repo_list="$jq_repo_list" >> $GITHUB_OUTPUT

  update-coc:
    runs-on: ubuntu-latest
    needs: plan-coc-update
    strategy:
      matrix:
        full_repo: ${{ fromJson(needs.plan-coc-update.outputs.repo_list) }}
    steps:
    - name: Check if source repository
      id: check-if-source
      run: |
        if [[ "${{ matrix.full_repo }}" == "$GITHUB_REPOSITORY" ]]; then
            echo "Skipping source repository ($GITHUB_REPOSITORY)..."
            echo "is_source=1" >> "$GITHUB_OUTPUT"
            exit 0
        fi
        echo "is_source=0" >> "$GITHUB_OUTPUT"
    - name: Checkout this repo
      uses: actions/checkout@v6
      with:
        path: sourcerepo
    - name: Checkout repo to be updated
      uses: actions/checkout@v6
      with:
        repository: ${{ matrix.full_repo }}
        path: targetrepo
        token: ${{ secrets.BRUTUS_PAT_TOKEN }}
    - name: Configure git
      working-directory: ./targetrepo
      run: |
        git config --local user.email "brutus@beeware.org"
        git config --local user.name "Brutus (robot)"
    - name: Replace Code of Conduct
      working-directory: ./targetrepo
      run: |
        cp ../sourcerepo/CODE_OF_CONDUCT.md .
    - name: Prepend warning text to Code of Conduct
      working-directory: ./targetrepo
      run: |
        WARNING_TEXT=$(< ../sourcerepo/.github/workflows/coc-edit-warning.txt)
        printf '%s\n\n' "$WARNING_TEXT" | sed -i '0r /dev/stdin' CODE_OF_CONDUCT.md
    - name: Check diff for need to push changes
      id: check-no-change
      working-directory: ./targetrepo
      run: |
        echo "changed=0" >> "$GITHUB_OUTPUT"
        git diff --exit-code --quiet CODE_OF_CONDUCT.md || echo "changed=1" >> "$GITHUB_OUTPUT"
    - name: Commit changes
      working-directory: ./targetrepo
      if: |
        steps.check-no-change.outputs.changed == '1'
      run: |
        git add CODE_OF_CONDUCT.md
        git commit -m "Updated Code of Conduct ($GITHUB_REPOSITORY, ${{ needs.plan-coc-update.outputs.commit_hash }})"
    - name: Attempt to push Code of Conduct to main
      id: push-main
      if: |
        steps.check-if-source.outputs.is_source == '0' &&
        steps.check-no-change.outputs.changed == '1'
      working-directory: ./targetrepo
      continue-on-error: true
      env:
        GH_TOKEN: ${{ secrets.BRUTUS_PAT_TOKEN }}
      run: |
        # Attempt to push directly to main
        echo "success=1" >> "$GITHUB_OUTPUT"
        git push || echo "success=0" >> "$GITHUB_OUTPUT"
    - name: Update Code of Conduct via PR to main using new branch
      id: pr-main
      if: |
        steps.check-if-source.outputs.is_source == '0' &&
        steps.check-no-change.outputs.changed == '1' &&
        steps.push-main.outputs.success == '0'
      working-directory: ./targetrepo
      env:
        GH_TOKEN: ${{ secrets.BRUTUS_PAT_TOKEN }}
      run: |
        timestamp=$(date +%m%d%Y-%H%M%S)
        branch_name="coc-update-$timestamp"
        git checkout -b $branch_name
        git push --set-upstream origin "$branch_name"

        gh pr create \
              --repo ${{ matrix.full_repo }} \
              --title "Update Code of Conduct" \
              --body "Updated via $GITHUB_REPOSITORY (${{ needs.plan-coc-update.outputs.commit_hash }})"
