name: Run towncrier Check

#######
# Runs `tox -e towncrier-check` for the repository.
#######

on:
  workflow_call:
    inputs:
      python-version:
        description: "Python version to use; defaults to latest Python release."
        default: "3.X"
        type: string
      repository:
        description: "GitHub repository to checkout; defaults to repo running this workflow."
        default: ${{ github.repository }}
        type: string
      tox-source:
        description: "The arguments for `pip install` to install tox; use ./path/to/package[dev] for the repo's pinned version."
        default: ".[dev]"
        type: string
      runner-os:
        description: "Runner OS to use to run tox; defaults to ubuntu-latest"
        default: "ubuntu-latest"
        type: string

defaults:
  run:
    shell: bash

env:
  FORCE_COLOR: "1"

jobs:
  towncrier:
    name: Towncrier Checks
    runs-on: ${{ inputs.runner-os }}
    timeout-minutes: 10
    steps:

    - name: Checkout Default Branch
      uses: actions/checkout@v4.1.1
      with:
        repository: ${{ inputs.repository }}
        ref: ${{ github.event.repository.default_branch }}
        fetch-depth: 0

    - name: Checkout Current Branch
      uses: actions/checkout@v4.1.1
      with:
        repository: ${{ inputs.repository }}
        fetch-depth: 0

    - name: Setup Python
      uses: actions/setup-python@v4.7.1
      with:
        python-version: ${{ inputs.python-version }}
        cache: "pip"
        cache-dependency-path: |
          **/setup.cfg
          **/pyproject.toml

    - name: Update pip
      run: python -m pip install -U pip

    - name: Install towncrier
      run: python -m pip install ${{ inputs.tox-source }}

    - name: Run towncrier check
      run: tox -e towncrier-check
